@{
	var version = typeof(PolicyServer1.Hosting.PolicyServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--10-col-desktop">
		<img class="icon" src="~/icon.jpg">
		Welcome to PolicyServer1
		<small>(version @version)</small>
		<hr />
	</div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--8-col-desktop">
		<p>
			PolicyServer publishes a
			<a href="~/.well-known/policy-configuration">discovery document</a>
			where you can find metadata and links to all the endpoints, key material, etc.
		</p>
		<p>
			Click <a href="~/grants">here</a> to manage your stored grants.
		</p>
	</div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--8-col-desktop">
		<p>
			Here are links to the
			<a href="https://github.com/Angelinsky7/PolicyServer">source code repository</a>,
			and <a href="https://github.com/Angelinsky7/PolicyServer.Samples">ready to use samples</a>.
		</p>
	</div>
</div>
