@model DropdownModel

<div class="relative"
	 x-data="policyServer1.dropdown()"
	 x-on:click.away="close()"
	 x-on:custom-event.window="console.log($event.detail); $event.detail === 'dropdown.action.close' ? close() : ''">
	<!-- Template of button -->
	<button class="p-2 hover:bg-blue-600" x-on:click="toggle()">
		@Html.Raw(Model.ButtonTemplate)
	</button>
	<!-- Template of button -->

	<div x-cloak x-show="show" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg z-10"
		 x-transition:enter="transition ease-out duration-100"
		 x-transition:enter-start="transform opacity-0 scale-95"
		 x-transition:enter-end="transform opacity-100 scale-100"
		 x-transition:leave="transition ease-in duration-75"
		 x-transition:leave-start="transform opacity-100 scale-100"
		 x-transition:leave-end="transform opacity-0 scale-95">
		<div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
			<!-- Template of actions -->
			@Html.Raw(Model.ContentTemplate)
			<!-- Template of actions -->
		</div>
	</div>
</div>