.dropdown-menu-item {
	@apply block px-4 py-2 text-sm leading-5 text-gray-700 transition duration-150 ease-in-out flex items-center;
}

.dropdown-menu-item:hover {
	@apply bg-gray-100;
}

.dropdown-menu-item:focus {
	@apply outline-none bg-gray-100;
}