@model PolicyServer1.Models.TimePolicy

<partial name="_FormPolicy" />

<div class="mb-5">
	<label asp-for="NotBefore" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<input asp-for="NotBefore" asp-format="{0:dd/MM/yyyy HH:mm}" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" />
	<span asp-validation-for="NotBefore" class="mt-2 text-sm text-red-800"></span>
</div>

<div class="mb-5">
	<label asp-for="NotOnOrAfter" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<input asp-for="NotOnOrAfter" asp-format="{0:dd/MM/yyyy HH:mm}" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" />
	<span asp-validation-for="NotOnOrAfter" class="mt-2 text-sm text-red-800"></span>
</div>

@*<div class="mb-5">
	<label asp-for="Resource" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<select name="Resource" asp-items="ViewBag.Resources" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium">
		<option>Select a resource or none</option>
	</select>
	<span asp-validation-for="Resource" class="mt-2 text-sm text-red-800"></span>
</div>*@