@model PolicyServer1.Models.Policy

<div class="mb-5">
	<label asp-for="Name" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<input asp-for="Name" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" />
	<span asp-validation-for="Name" class="mt-2 text-sm text-red-800"></span>
</div>

<div class="mb-5">
	<label asp-for="Description" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<input asp-for="Description" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium" />
	<span asp-validation-for="Description" class="mt-2 text-sm text-red-800"></span>
</div>

<div class="mb-5">
	<label asp-for="Logic" class="font-bold mb-1 text-gray-700 block text-xs"></label>
	<select asp-for="Logic" asp-items="ViewBag.Logics" class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium">
	</select>
	<span asp-validation-for="Logic" class="mt-2 text-sm text-red-800"></span>
</div>