@using PolicyServer1.Extensions
@{
	string name = null;
	if (!true.Equals(ViewData["signed-out"])) {
		name = Context.User?.GetDisplayName();
	}
}
<!DOCTYPE html>
<html class="h-full">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	@*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>PolicyServer1</title>
	<link rel="icon" type="image/x-icon" href="~/favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
	@*<link rel="stylesheet" href="~/lib/material-design-lite/css/material.min.css" media="screen,projection" />*@
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
	<link rel="stylesheet" href="~/dist/app.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="h-full">
	<div class="flex flex-col h-full">
		<nav class="bg-gray-800" x-data="{isMobileMenuOpen: false}">
			<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
				<div class="relative flex items-center justify-between h-16">
					<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
						<!-- Mobile menu button-->
						<button x-on:click="isMobileMenuOpen = !isMobileMenuOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
							<!-- Icon when menu is closed. -->
							<svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
							</svg>
							<!-- Icon when menu is open. -->
							<svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
					<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
						<div class="flex-shrink-0">
							<svg viewBox="0 0 66 66" class="block lg:hidden h-10 w-10 fill-current text-blue-200" xmlns="http://www.w3.org/2000/svg">
								<path d="M49 33C49 41.8366 41.8366 49 33 49M49 33C49 24.1634 41.8366 17 33 17C24.1634 17 17 24.1634 17 33M49 33C36.2 24.2 33 40.3333 33 49.5M33 49C24.1634 49 17 41.8366 17 33M33 49C33 40 29.8 24.2 17 33M33 30C31.3431 30 30 31.3431 30 33C30 34.6569 31.3431 36 33 36C34.6569 36 36 34.6569 36 33C36 31.3431 34.6569 30 33 30ZM33 30V22M65 33C65 50.6731 50.6731 65 33 65C15.3269 65 1 50.6731 1 33C1 15.3269 15.3269 1 33 1C50.6731 1 65 15.3269 65 33ZM58 33C58 46.8071 46.8071 58 33 58C19.1929 58 8 46.8071 8 33C8 19.1929 19.1929 8 33 8C46.8071 8 58 19.1929 58 33ZM63 33C63 49.5685 49.5685 63 33 63C16.4315 63 3 49.5685 3 33C3 16.4315 16.4315 3 33 3C49.5685 3 63 16.4315 63 33Z" stroke="black" />
							</svg>
							<svg viewBox="0 0 66 66" class="hidden lg:block h-10 w-10 fill-current text-blue-800" xmlns="http://www.w3.org/2000/svg">
								<path d="M49 33C49 41.8366 41.8366 49 33 49M49 33C49 24.1634 41.8366 17 33 17C24.1634 17 17 24.1634 17 33M49 33C36.2 24.2 33 40.3333 33 49.5M33 49C24.1634 49 17 41.8366 17 33M33 49C33 40 29.8 24.2 17 33M33 30C31.3431 30 30 31.3431 30 33C30 34.6569 31.3431 36 33 36C34.6569 36 36 34.6569 36 33C36 31.3431 34.6569 30 33 30ZM33 30V22M65 33C65 50.6731 50.6731 65 33 65C15.3269 65 1 50.6731 1 33C1 15.3269 15.3269 1 33 1C50.6731 1 65 15.3269 65 33ZM58 33C58 46.8071 46.8071 58 33 58C19.1929 58 8 46.8071 8 33C8 19.1929 19.1929 8 33 8C46.8071 8 58 19.1929 58 33ZM63 33C63 49.5685 49.5685 63 33 63C16.4315 63 3 49.5685 3 33C3 16.4315 16.4315 3 33 3C49.5685 3 63 16.4315 63 33Z" stroke="black" />
							</svg>
							@*<img class="block lg:hidden h-8 w-auto" src="/img/logos/mark-on-dark.svg" alt="Workflow logo" />
								<img class="hidden lg:block h-8 w-auto" src="/img/logos/logo-on-dark.svg" alt="Workflow logo" />*@
						</div>
						<a href="/" class="block text-white text-2xl ml-2">PolicyServer1</a>
						<div class="hidden sm:block sm:ml-6">
							<div class="flex">
								@if (User.Identity.IsAuthenticated) {
									<a is-active-route asp-area="" asp-controller="Client" asp-action="Index" class="px-3 py-2 rounded-md text-sm font-medium leading-5 text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Clients
									</a>
									<a is-active-route asp-area="" asp-controller="Resource" asp-action="Index" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Resources
									</a>
									<a is-active-route asp-area="" asp-controller="Scope" asp-action="Index" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Scopes
									</a>
									<a is-active-route asp-area="" asp-controller="Permission" asp-action="Index" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Permissions
									</a>
									<a is-active-route asp-area="" asp-controller="Role" asp-action="Index" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Roles
									</a>
									<a is-active-route asp-area="" asp-controller="Policy" asp-action="Index" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
										Policies
									</a>
								}
							</div>
						</div>
					</div>
					<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
						<!-- Profile dropdown -->
						@if (User.Identity.IsAuthenticated) {
							<div class="ml-3 relative" x-data="{dropdownIsOpen: false}" x-on:click.away="dropdownIsOpen = false">
								<div>
									<button x-on:click="dropdownIsOpen = !dropdownIsOpen" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
										<img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
									</button>
								</div>

								<!--
								  Profile dropdown panel, show/hide based on dropdown state.

								  Entering: "transition ease-out duration-100"
									From: "transform opacity-0 scale-95"
									To: "transform opacity-100 scale-100"
								  Leaving: "transition ease-in duration-75"
									From: "transform opacity-100 scale-100"
									To: "transform opacity-0 scale-95"
								-->
								<div x-cloak x-show="dropdownIsOpen" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg z-10">
									<div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
										<div class="block px-4 py-2 text-sm leading-5 border-b select-none"><span>Logged as </span><span class="font-bold">@name</span></div>
										<a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
											Your Profile
										</a>
										<a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
											Settings
										</a>
										@*<a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">
												Sign out
											</a>*@
										<a class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
									</div>
								</div>
							</div>
						} else {
							<a asp-area="" asp-controller="Home" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="flex text-sm border-2 border-transparent text-white">Login</a>
						}
					</div>
				</div>
			</div>

			<!--
			  Mobile menu, toggle classes based on menu state.

			  Menu open: "block", Menu closed: "hidden"
			-->
			<div class="block sm:hidden" x-show="isMobileMenuOpen">
				<div class="px-2 pt-2 pb-3">
					<a is-active-route asp-area="" asp-controller="Client" asp-action="Index"  class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Clients
					</a>
					<a is-active-route asp-area="" asp-controller="Resource" asp-action="Index"  class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Resources
					</a>
					<a is-active-route asp-area="" asp-controller="Scope" asp-action="Index"  class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Scopes
					</a>
					<a is-active-route asp-area="" asp-controller="Permission" asp-action="Index"  class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Permissions
					</a>
					<a is-active-route asp-area="" asp-controller="Role" asp-action="Index"  class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Roles
					</a>
					<a is-active-route asp-area="" asp-controller="Policy" asp-action="Index" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">
						Policies
					</a>
				</div>
			</div>
		</nav>

		<div class="m-5 flex-1">
			<main class="max-w-7xl mx-auto">
				<div>
					@RenderBody()
				</div>
			</main>
		</div>

		<div class="w-full text-center border-t border-grey p-4 pin-b bg-gray-300">footer</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/material-design-lite/js/material.min.js"></script>*@
	<script src="~/dist/app.js" asp-append-version="true"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
